/* Universal Styles */

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
  font-size: 16px;
}

header {
  display: flex;
}

header h1 {
  display: flex;
  align-items: center;
  font-size: 2.75rem;
  margin: 0;
  margin-top: 1rem;

}

img {
  height: 10%;
  width: 25%;
  margin: 0;
}

ul {
  list-style: none;
  margin-left: 12rem;
  margin-right: 0;
}

li {
  display: inline-block;
  margin-top: 3.25rem;
  margin-right: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}

body {
  background-color: #13072e;
}
