/* Universal Styles */

* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  background-color: #13072e;
}

header {
  display: flex;
}

header h1 {
  display: flex;
  align-items: center;
  font-size: 2.75rem;
  margin: 0;
  margin-top: 1rem;
  margin-left: 1rem;

}

img {
  height: 5%;
  width: 15%;
  margin: 0;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

ul {
  list-style: none;
  /* margin-left: 11rem; */
  margin-right: 1rem;
  margin-top: 0.5rem;
}

li {
  display: inline-block;
  margin-top: 2.5rem;
  margin-right: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}

li a {
  text-decoration: none;
  cursor: pointer;
  
}

a:hover {
  color: yellow;
}

.hero {
  height: 40rem;
  background: linear-gradient(135deg, #13072e, #3f2182);
  margin: 2rem 2rem;
  border-radius: 20px;
  display: flex;
}

.ryaltohashtag {
  background-color: #b3aaff;
  border-radius: 25px;
  margin-top: 6rem;
  margin-left: 2.5rem;
  font-size: 1.25rem;
  color: black;
}

.hero-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2.5rem;
  margin-right: 2rem;
  font-size: 2.5rem;
  width: 100%;
}

.hero-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2.8125rem;
  margin-right: 2rem;
  font-size: 1.125rem;
  width: 93%;
}

.hero article {
  width: 100%;
  margin: 0;
}

.hero aside {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-splash-image {
  width: 72%;
  height: auto;
  margin-left: 0;
}

.arrow-icon {
  width: 50px;
  height: 50px;
  margin-left: 2.8125rem;

}

.cards-hero {
  height: 107rem;
  background: linear-gradient(135deg, #13072e, #3f2182);
  margin: 2rem 2rem;
  border-radius: 20px;
}

.cards-hero h2 {
  font-size: 2.5rem;
  margin-top: 2rem;
  padding-top: 2rem;
  margin-left: 2rem;
}

.cards-hero h2 span {
  font-size: 1.5rem;
  padding-left: 1rem;
  font-weight: 200;
}

.blog-cards {
  max-width: 100%;
  margin-top: 2rem;
  /* display: flex;
  flex-direction: row; */
}

.card-section-one {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  margin-bottom: 2rem;
}
.card-section-two {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  margin-bottom: 2rem;
}
.card-section-three {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  margin-bottom: 2rem;
}
.card-section-four {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
  margin-bottom: 2rem;
}

.card-one {
  background: linear-gradient(135deg, #13072e, #3f2182);
  border-radius: 20px;
  width: 50%;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-one h2 {
  margin-top: auto;
}
.card-two {
  background: linear-gradient(135deg, #13072e, #3f2182);
  border-radius: 20px;
  width: 50%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-two h2 {
  margin-top: auto;
}

.philhashtag {
  background-color: #b3aaff;
  border-radius: 25px;
  margin: 1rem 2rem;
  font-size: 1.25rem;
  color: black;
}

.card-title {
  font-size: 0.5rem;
  margin-top: auto;
}

.card-description {
  margin: 2rem 2rem;
}

.card-three {
  background: linear-gradient(135deg, #13072e, #3f2182);
  border-radius: 20px;
  width: 50%;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-three h2 {
  margin-top: auto;
}
.card-four {
  background: linear-gradient(135deg, #13072e, #3f2182);
  border-radius: 20px;
  width: 50%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-four h2 {
  margin-top: auto;
}

.card-five {
  background: linear-gradient(135deg, #13072e, #3f2182);
  border-radius: 20px;
  width: 50%;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-five h2 {
  margin-top: auto;
}
.card-six {
  background: linear-gradient(135deg, #13072e, #3f2182);
  border-radius: 20px;
  width: 50%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-six h2 {
  margin-top: auto;
}

.card-seven {
  background: linear-gradient(135deg, #13072e, #3f2182);
  border-radius: 20px;
  width: 50%;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-seven h2 {
  margin-top: auto;
}
.card-eight {
  background: linear-gradient(135deg, #13072e, #3f2182);
  border-radius: 20px;
  width: 50%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-eight h2 {
  margin-top: auto;
}
